<p class="text-6xl text-center text-green-600 font-extrabold mt-4 mb-4 text-shadow-lg">About Us</p>
<div class="grid grid-cols-1 md:grid-cols-2 text-white bg-green-600">
    <div class="max-w-full p-4 overflow-hidden">
        <img src="/images/logos/laChuppy.jpg" class="rounded-md w-full" alt="" />
    </div>
    <div class="p-4 text-lg">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dolor, exercitationem doloremque. Sit doloribus beatae magnam,
            iste quia nemo consequatur, perspiciatis totam iusto atque
            necessitatibus esse repudiandae ut illo, illum animi.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dolor, exercitationem doloremque. Sit doloribus beatae magnam,
            iste quia nemo consequatur, perspiciatis totam iusto atque
            necessitatibus esse repudiandae ut illo, illum animi.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dolor, exercitationem doloremque. Sit doloribus beatae magnam,
            iste quia nemo consequatur, perspiciatis totam iusto atque
            necessitatibus esse repudiandae ut illo, illum animi.
        </p>
    </div>
</div>
