<nav topNav [label]="label()" [primaryBgColor]="primaryBgColor()" [secondaryBgColor]="secondaryBgColor()" [primaryTextColor]="primaryTextColor()" [secondaryTextColor]="secondaryTextColor()"></nav>
<section id="foodCarousel" foodCarousel [primaryTextColor]="primaryTextColor()"></section>
<section class="pt-18" id="aboutUs" aboutUs></section>
<section class="pt-18" id="ourCrew" ourCrew></section>
<section class="pt-18" id="ourServices" ourServices></section>
<section class="pt-18" id="ourCustomersReviews" ourCustomersReviews></section>
<section class="pt-18" id="bookUs" bookUs></section>
